<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hỏi nhanh</title>
</head>
<body>
    <button>Hỏi nhanh</button>
    <button id="answer">Đáp gọn</button>
    <form action="/ask" method="POST">
        <h3>Hãy hỏi cộng đồng một câu đúng/sai hoặc có/không</h3>
        <textarea maxlength ="200" id = "textInput" name="question" cols="30" rows="10"></textarea>
        <p id = "remain">còn 200/200 kí tự</p>
        <button type="submit">Gửi</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="./ask.js"></script>
</body>
</html>