<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <button id="ask">Hỏi nhanh</button>
    <button>Đáp gọn</button>
    <h1 id="question">Question</h1>
    <div id="answer">
        <button id="no">No</button>
        <button id="yes">Yes</button>
        <button id="viewQuestionInfo">Vote</button>
    </div>
    <button id="other-question">Other Question</button>
    <div id="questionInfo">
        <div id="vote">Vote:</div>
        <div id="voteYes">Vote Yes:</div>
        <div id="voteNo">Vote No:</div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/main.js"></script>
</body>
</html>
