#questionInfo{
    display: none;
}
#question{
    text-align: center;
}
#voteAndOtherQuestion{
    text-align: right;
}
#yes{
    display: inline-block;
    text-align: left;
}
#no{
    display: inline-block;
    text-align: right;
}